In [1]:
import pandas as pd

In [2]:
ord("a")

97

In [3]:
bin(97)

'0b1100001'

In [12]:
!pip install encodings

ERROR: Could not find a version that satisfies the requirement encodings (from versions: none)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for encodings

In [13]:
import encodings

In [31]:
l=encodings.aliases.aliases.keys() 
# encodings.aliases.aliases return # dict # keys are acting as encodings

In [32]:
len(l)

326

In [26]:
l1=["utf-8","latin","utf-16"]

In [36]:
pd.read_csv(r"C:\Users\Lenovo\Downloads\spam.csv",encoding="latin",on_bad_lines="skip")

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [ ]:
# look up

In [40]:
for y in l:
    try:
        pd.read_csv(r"C:\Users\Lenovo\Downloads\spam.csv",encoding=y)
        print("{} is correct encoding".format(y))
    except UnicodeDecodeError:
        print("{} is not encoding".format(y))
    except LookupError:
        print("{} is not supported".format(y))
        l1.append(y)

646 is not encoding
ansi_x3.4_1968 is not encoding
ansi_x3_4_1968 is not encoding
ansi_x3.4_1986 is not encoding
cp367 is not encoding
csascii is not encoding
ibm367 is not encoding
iso646_us is not encoding
iso_646.irv_1991 is not encoding
iso_ir_6 is not encoding
us is not encoding
us_ascii is not encoding
base64 is not supported
base_64 is not supported
big5_tw is not encoding
csbig5 is not encoding
big5_hkscs is not encoding
hkscs is not encoding
bz2 is not supported

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 3

In [39]:
l

dict_keys(['646', 'ansi_x3.4_1968', 'ansi_x3_4_1968', 'ansi_x3.4_1986', 'cp367', 'csascii', 'ibm367', 'iso646_us', 'iso_646.irv_1991', 'iso_ir_6', 'us', 'us_ascii', 'base64', 'base_64', 'big5_tw', 'csbig5', 'big5_hkscs', 'hkscs', 'bz2', '037', 'csibm037', 'ebcdic_cp_ca', 'ebcdic_cp_nl', 'ebcdic_cp_us', 'ebcdic_cp_wt', 'ibm037', 'ibm039', '1026', 'csibm1026', 'ibm1026', '1125', 'ibm1125', 'cp866u', 'ruscii', '1140', 'ibm1140', '1250', 'windows_1250', '1251', 'windows_1251', '1252', 'windows_1252', '1253', 'windows_1253', '1254', 'windows_1254', '1255', 'windows_1255', '1256', 'windows_1256', '1257', 'windows_1257', '1258', 'windows_1258', '273', 'ibm273', 'csibm273', '424', 'csibm424', 'ebcdic_cp_he', 'ibm424', '437', 'cspc8codepage437', 'ibm437', '500', 'csibm500', 'ebcdic_cp_be', 'ebcdic_cp_ch', 'ibm500', '775', 'cspc775baltic', 'ibm775', '850', 'cspc850multilingual', 'ibm850', '852', 'cspcp852', 'ibm852', '855', 'csibm855', 'ibm855', '857', 'csibm857', 'ibm857', '858', 'csibm858', 'ibm858', '860', 'csibm860', 'ibm860', '861', 'cp_is', 'csibm861', 'ibm861', '862', 'cspc862latinhebrew', 'ibm862', '863', 'csibm863', 'ibm863', '864', 'csibm864', 'ibm864', '865', 'csibm865', 'ibm865', '866', 'csibm866', 'ibm866', '869', 'cp_gr', 'csibm869', 'ibm869', '932', 'ms932', 'mskanji', 'ms_kanji', '949', 'ms949', 'uhc', '950', 'ms950', 'jisx0213', 'eucjis2004', 'euc_jis2004', 'eucjisx0213', 'eucjp', 'ujis', 'u_jis', 'euckr', 'korean', 'ksc5601', 'ks_c_5601', 'ks_c_5601_1987', 'ksx1001', 'ks_x_1001', 'gb18030_2000', 'chinese', 'csiso58gb231280', 'euc_cn', 'euccn', 'eucgb2312_cn', 'gb2312_1980', 'gb2312_80', 'iso_ir_58', '936', 'cp936', 'ms936', 'hex', 'roman8', 'r8', 'csHPRoman8', 'cp1051', 'ibm1051', 'hzgb', 'hz_gb', 'hz_gb_2312', 'csiso2022jp', 'iso2022jp', 'iso_2022_jp', 'iso2022jp_1', 'iso_2022_jp_1', 'iso2022jp_2', 'iso_2022_jp_2', 'iso_2022_jp_2004', 'iso2022jp_2004', 'iso2022jp_3', 'iso_2022_jp_3', 'iso2022jp_ext', 'iso_2022_jp_ext', 'csiso2022kr', 'iso2022kr', 'iso_2022_kr', 'csisolatin6', 'iso_8859_10', 'iso_8859_10_1992', 'iso_ir_157', 'l6', 'latin6', 'thai', 'iso_8859_11', 'iso_8859_11_2001', 'iso_8859_13', 'l7', 'latin7', 'iso_8859_14', 'iso_8859_14_1998', 'iso_celtic', 'iso_ir_199', 'l8', 'latin8', 'iso_8859_15', 'l9', 'latin9', 'iso_8859_16', 'iso_8859_16_2001', 'iso_ir_226', 'l10', 'latin10', 'csisolatin2', 'iso_8859_2', 'iso_8859_2_1987', 'iso_ir_101', 'l2', 'latin2', 'csisolatin3', 'iso_8859_3', 'iso_8859_3_1988', 'iso_ir_109', 'l3', 'latin3', 'csisolatin4', 'iso_8859_4', 'iso_8859_4_1988', 'iso_ir_110', 'l4', 'latin4', 'csisolatincyrillic', 'cyrillic', 'iso_8859_5', 'iso_8859_5_1988', 'iso_ir_144', 'arabic', 'asmo_708', 'csisolatinarabic', 'ecma_114', 'iso_8859_6', 'iso_8859_6_1987', 'iso_ir_127', 'csisolatingreek', 'ecma_118', 'elot_928', 'greek', 'greek8', 'iso_8859_7', 'iso_8859_7_1987', 'iso_ir_126', 'csisolatinhebrew', 'hebrew', 'iso_8859_8', 'iso_8859_8_1988', 'iso_ir_138', 'csisolatin5', 'iso_8859_9', 'iso_8859_9_1989', 'iso_ir_148', 'l5', 'latin5', 'cp1361', 'ms1361', 'cskoi8r', 'kz_1048', 'rk1048', 'strk1048_2002', '8859', 'cp819', 'csisolatin1', 'ibm819', 'iso8859', 'iso8859_1', 'iso_8859_1', 'iso_8859_1_1987', 'iso_ir_100', 'l1', 'latin', 'latin1', 'maccyrillic', 'macgreek', 'maciceland', 'maccentraleurope', 'mac_centeuro', 'maclatin2', 'macintosh', 'macroman', 'macturkish', 'ansi', 'dbcs', 'csptcp154', 'pt154', 'cp154', 'cyrillic_asian', 'quopri', 'quoted_printable', 'quotedprintable', 'rot13', 'csshiftjis', 'shiftjis', 'sjis', 's_jis', 'shiftjis2004', 'sjis_2004', 's_jis_2004', 'shiftjisx0213', 'sjisx0213', 's_jisx0213', 'tis620', 'tis_620_0', 'tis_620_2529_0', 'tis_620_2529_1', 'iso_ir_166', 'u16', 'utf16', 'unicodebigunmarked', 'utf_16be', 'unicodelittleunmarked', 'utf_16le', 'u32', 'utf32', 'utf_32be', 'utf_32le', 'u7', 'utf7', 'unicode_1_1_utf_7', 'u8', 'utf', 'utf8', 'utf8_ucs2', 'utf8_ucs4', 'cp65001', 'uu', 'zip', 'zlib', 'x_mac_japanese', 'x_mac_korean', 'x_mac_simp_chinese', 'x_mac_trad_chinese'])

In [43]:
data=pd.read_csv(r"C:\Users\Lenovo\Downloads\spam.csv",encoding="latin")

In [44]:
data.shape

(5572, 5)

In [49]:
files=pd.read_csv(r"C:\Users\Lenovo\Downloads\spam.csv",encoding="latin",chunksize=100)
c=0
for chunk in files:
    print(chunk.head(2))
    print("*"*50)
    c+=1

    v1                                                 v2 Unnamed: 2  \
0  ham  Go until jurong point, crazy.. Available only ...        NaN
1  ham                      Ok lar... Joking wif u oni...        NaN

  Unnamed: 3  Unnamed: 4
0        NaN         NaN
1        NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
100  ham  Okay name ur price as long as its legal! Wen c...         NaN
101  ham  I'm still looking for a car to buy. And have n...         NaN

     Unnamed: 3  Unnamed: 4
100         NaN         NaN
101         NaN         NaN
**************************************************
      v1                                                 v2 Unnamed: 2  \
200  ham                       I sent you  &lt;#&gt;  bucks        NaN
201  ham  Hello darlin ive finished college now so txt m...        NaN

    Unnamed: 3 Unnamed: 4
200        NaN        NaN
201        NaN        NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
300  ham  Awesome, I remember the last time we got someb...         NaN
301  ham  Shit that is really shocking and scary, cant i...         NaN

     Unnamed: 3  Unnamed: 4
300         NaN         NaN
301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
400  spam  FREE RINGTONE text FIRST to 87131 for a poly o...        NaN
401   ham            Dear how is chechi. Did you talk to her        NaN

     Unnamed: 3  Unnamed: 4
400         NaN         NaN
401         NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
500  ham  Fighting with the world is easy, u either win ...         NaN
501  ham                              When can Ì_ come out?         NaN

     Unnamed: 3  Unnamed: 4
500         NaN         NaN
501         NaN         NaN
**************************************************
      v1                                                 v2 Unnamed: 2  \
600  ham  Mind blastin.. No more Tsunamis will occur fro...        NaN
601  ham  If u sending her home first it's ok lor. I'm n...        NaN

     Unnamed: 3  Unnamed: 4
600         NaN         NaN
601         NaN         NaN
**************************************************
      v1                             v2 Unnamed: 2  Unnamed: 3  Unnamed: 4
700  ham  How much r Ì_ willing to pay?        NaN         NaN         NaN
701  ham         Sorry, I'll call later        NaN         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
800  spam  Last Chance! Claim ur å£150 worth of discount ...        NaN
801   ham  Appt is at &lt;TIME&gt; am. Not my fault u don...        NaN

    Unnamed: 3  Unnamed: 4
800        NaN         NaN
801        NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
900  ham  Probably money worries. Things are coming due ...         NaN
901  ham        How is it possible to teach you. And where.         NaN

     Unnamed: 3  Unnamed: 4
900         NaN         NaN
901         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
1000   ham                            No..but heard abt tat..        NaN
1001  spam  Please call our customer service representativ...        NaN

     Unnamed: 3 Unnamed: 4
1000        NaN        NaN
1001        NaN        NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1100  ham  You busy or can I come by at some point and fi...        NaN
1101  ham  Yeah go on then, bored and depressed sittin wa...        NaN

      Unnamed: 3  Unnamed: 4
1100         NaN         NaN
1101         NaN         NaN
**************************************************
       v1                                        v2 Unnamed: 2  Unnamed: 3  \
1200  ham  Otherwise had part time job na-tuition..        NaN         NaN
1201  ham                      I know she called me        NaN         NaN

      Unnamed: 4
1200         NaN
1201         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1300  ham  Those cocksuckers. If it makes you feel better...        NaN
1301  ham               I tot u reach liao. He said t-shirt.        NaN

      Unnamed: 3  Unnamed: 4
1300         NaN         NaN
1301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1400  ham  No, I decided that only people who care about ...        NaN
1401  ham  Kaiez... Enjoy ur tuition... Gee... Thk e seco...        NaN

      Unnamed: 3  Unnamed: 4
1400         NaN         NaN
1401         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
1500   ham                 Host-based IDPS for linux systems.        NaN
1501  spam  HOT LIVE FANTASIES call now 08707509020 Just 2...        NaN

      Unnamed: 3  Unnamed: 4
1500         NaN         NaN
1501         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1600  ham                          K.then any other special?        NaN
1601  ham  Carlos is taking his sweet time as usual so le...        NaN

      Unnamed: 3  Unnamed: 4
1600         NaN         NaN
1601         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
1700  ham                    Please ask mummy to call father         NaN
1701  ham  Can come my room but cannot come my house cos ...         NaN

      Unnamed: 3  Unnamed: 4
1700         NaN         NaN
1701         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
1800  ham  excellent. I spent  &lt;#&gt;  years in the Ai...         NaN
1801  ham                           I wanna watch that movie         NaN

      Unnamed: 3  Unnamed: 4
1800         NaN         NaN
1801         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1900  ham  And miss vday the parachute and double coins??...        NaN
1901  ham                             Sorry, I'll call later        NaN

      Unnamed: 3  Unnamed: 4
1900         NaN         NaN
1901         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2000  ham  But i'll b going 2 sch on mon. My sis need 2 t...        NaN
2001  ham             Idea will soon get converted to live:)        NaN

      Unnamed: 3  Unnamed: 4
2000         NaN         NaN
2001         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2100  ham    Oh Howda gud gud.. Mathe en samachara chikku:-)        NaN
2101  ham  I thk 530 lor. But dunno can get tickets a not...        NaN

     Unnamed: 3  Unnamed: 4
2100        NaN         NaN
2101        NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2200  ham  Haha... can... But i'm having dinner with my c...        NaN
2201  ham  A boy was late 2 home. His father: \POWER OF F...        NaN

     Unnamed: 3 Unnamed: 4
2200        NaN        NaN
2201        NaN        NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
2300  ham  Nothin comes to my mind. ÌÏ help me buy hanger...         NaN
2301  ham   &lt;#&gt; , that's all? Guess that's easy enough         NaN

      Unnamed: 3  Unnamed: 4
2300         NaN         NaN
2301         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
2400   ham            Hi! This is Roger from CL. How are you?        NaN
2401  spam  Babe: U want me dont u baby! Im nasty and have...        NaN

      Unnamed: 3  Unnamed: 4
2400         NaN         NaN
2401         NaN         NaN
**************************************************
       v1                                    v2  Unnamed: 2  Unnamed: 3  \
2500  ham  Remember to ask alex about his pizza         NaN         NaN
2501  ham          No da..today also i forgot..         NaN         NaN

      Unnamed: 4
2500         NaN
2501         NaN
**************************************************
       v1                                              v2  Unnamed: 2  \
2600  ham  As usual..iam fine, happy &amp; doing well..:)         NaN
2601  ham                                            Okie         NaN

      Unnamed: 3  Unnamed: 4
2600         NaN         NaN
2601         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2700  ham  Feb  &lt;#&gt;  is \I LOVE U\" day. Send dis t...        NaN
2701  ham  Hiya, sorry didn't hav signal. I haven't seen ...        NaN

      Unnamed: 3  Unnamed: 4
2700         NaN         NaN
2701         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
2800  ham                      Depends on where u going lor.         NaN
2801  ham  And smile for me right now as you go and the w...         NaN

      Unnamed: 3  Unnamed: 4
2800         NaN         NaN
2801         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
2900  spam  Ur cash-balance is currently 500 pounds - to m...        NaN
2901   ham  Bill, as in: Are there any letters for me. iÛ...        NaN

      Unnamed: 3  Unnamed: 4
2900         NaN         NaN
2901         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
3000  spam  This message is free. Welcome to the new & imp...         NaN
3001   ham         Excellent, I'll see what riley's plans are         NaN

      Unnamed: 3  Unnamed: 4
3000         NaN         NaN
3001         NaN         NaN
**************************************************
       v1                                                v2 Unnamed: 2  \
3100  ham                      Pathaya enketa maraikara pa'        NaN
3101  ham  Even if he my friend he is a priest call him now        NaN

     Unnamed: 3  Unnamed: 4
3100        NaN         NaN
3101        NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3200  ham                       Nice.nice.how is it working?        NaN
3201  ham  Okay lor... Wah... like that def they wont let...        NaN

      Unnamed: 3  Unnamed: 4
3200         NaN         NaN
3201         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
3300  spam           RCT' THNQ Adrian for U text. Rgds Vatian         NaN
3301   ham  Stop calling everyone saying I might have canc...         NaN

      Unnamed: 3  Unnamed: 4
3300         NaN         NaN
3301         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
3400  ham                    Thanks honey. Have a great day.         NaN
3401  ham  'An Amazing Quote'' - \Sometimes in life its d...         NaN

      Unnamed: 3  Unnamed: 4
3400         NaN         NaN
3401         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3500  ham  says the  &lt;#&gt;  year old with a man and m...        NaN
3501  ham                         I will come to ur home now        NaN

     Unnamed: 3 Unnamed: 4
3500        NaN        NaN
3501        NaN        NaN
**************************************************
       v1                                              v2 Unnamed: 2  \
3600  ham                    Jay told me already, will do        NaN
3601  ham  Cps is causing the outages to conserve energy.        NaN

      Unnamed: 3  Unnamed: 4
3600         NaN         NaN
3601         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3700  ham                              Shall i get my pouch?        NaN
3701  ham  Hey loverboy! I love you !! I had to tell ... ...        NaN

      Unnamed: 3  Unnamed: 4
3700         NaN         NaN
3701         NaN         NaN
**************************************************
       v1                                         v2 Unnamed: 2  Unnamed: 3  \
3800  ham    It's ok, at least armand's still around        NaN         NaN
3801  ham  No da. I am happy that we sit together na        NaN         NaN

      Unnamed: 4
3800         NaN
3801         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
3900  ham  That depends. How would you like to be treated...         NaN
3901  ham                       Right on brah, see you later         NaN

      Unnamed: 3  Unnamed: 4
3900         NaN         NaN
3901         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
4000  ham  He's just gonna worry for nothing. And he won'...         NaN
4001  ham  Did you get any gift? This year i didnt get an...         NaN

      Unnamed: 3  Unnamed: 4
4000         NaN         NaN
4001         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
4100  spam  GSOH? Good with SPAM the ladies?U could b a ma...        NaN
4101   ham  Ok then i will come to ur home after half an hour        NaN

      Unnamed: 3  Unnamed: 4
4100         NaN         NaN
4101         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4200  ham  Wylie update: my weed dealer carlos went to fr...        NaN
4201  ham  Are you happy baby ? Are you alright ? Did you...        NaN

      Unnamed: 3  Unnamed: 4
4200         NaN         NaN
4201         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
4300  ham  Are there TA jobs available? Let me know pleas...         NaN
4301  ham  Aiyar hard 2 type. U later free then tell me t...         NaN

      Unnamed: 3  Unnamed: 4
4300         NaN         NaN
4301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4400  ham      Many times we lose our best ones bcoz we are         NaN
4401  ham  Good FRIENDS CaRE for each Other.. CLoSE Frien...        NaN

      Unnamed: 3  Unnamed: 4
4400         NaN         NaN
4401         NaN         NaN
**************************************************
       v1                         v2 Unnamed: 2  Unnamed: 3  Unnamed: 4
4500  ham      So wat's da decision?        NaN         NaN         NaN
4501  ham  Wot is u up 2 then bitch?        NaN         NaN         NaN
**************************************************
        v1                                                 v2  \
4600  spam  FreeMsg: Txt: CALL to No: 86888 & claim your r...
4601   ham                     \Hey j! r u feeling any better

                                             Unnamed: 2 Unnamed: 3 Unnamed: 4
4600                                                NaN        NaN        NaN
4601   hopeSo hunny. i amnow feelin ill & ithink i m...        NaN        NaN
**************************************************
       v1                      v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
4700  ham  I liked the new mobile         NaN         NaN         NaN
4701  ham              Anytime...         NaN         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4800  ham  The guy at the car shop who was flirting with ...        NaN
4801  ham      Reverse is cheating. That is not mathematics.        NaN

      Unnamed: 3  Unnamed: 4
4800         NaN         NaN
4801         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
4900   ham       Taka lor. Wat time u wan 2 come n look 4 us?        NaN
4901  spam  * FREE* POLYPHONIC RINGTONE Text SUPER to 8713...        NaN

      Unnamed: 3  Unnamed: 4
4900         NaN         NaN
4901         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
5000  ham  Nope. Since ayo travelled, he has forgotten hi...        NaN
5001  ham         You still around? Looking to pick up later        NaN

     Unnamed: 3 Unnamed: 4
5000        NaN        NaN
5001        NaN        NaN
**************************************************
       v1                                         v2  Unnamed: 2  Unnamed: 3  \
5100  ham           Aight, call me once you're close         NaN         NaN
5101  ham  Nope thats fine. I might have a nap tho!          NaN         NaN

      Unnamed: 4
5100         NaN
5101         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
5200  spam  Call Germany for only 1 pence per minute! Call...        NaN
5201  spam  YOU VE WON! Your 4* Costa Del Sol Holiday or å...        NaN

      Unnamed: 3  Unnamed: 4
5200         NaN         NaN
5201         NaN         NaN
**************************************************
       v1                                   v2  Unnamed: 2  Unnamed: 3  \
5300  ham              I can't make it tonight         NaN         NaN
5301  ham  At WHAT TIME should i come tomorrow         NaN         NaN

      Unnamed: 4
5300         NaN
5301         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
5400  ham  HARD BUT TRUE: How much you show &amp;  expres...         NaN
5401  ham  Babes I think I got ur brolly I left it in Eng...         NaN

      Unnamed: 3  Unnamed: 4
5400         NaN         NaN
5401         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
5500   ham  Love has one law; Make happy the person you lo...         NaN
5501  spam  PRIVATE! Your 2003 Account Statement for 07808...         NaN

      Unnamed: 3  Unnamed: 4
5500         NaN         NaN
5501         NaN         NaN
**************************************************

In [48]:
chunk.shape

(72, 5)

In [50]:
c

56

In [51]:
!pip install polars

Collecting polars
  Downloading polars-1.14.0-cp39-abi3-win_amd64.whl.metadata (15 kB)
Downloading polars-1.14.0-cp39-abi3-win_amd64.whl (35.3 MB)
   ---------------------------------------- 0.0/35.3 MB ? eta -:--:--
   --- ------------------------------------ 3.1/35.3 MB 16.8 MB/s eta 0:00:02
   ------ --------------------------------- 6.0/35.3 MB 15.4 MB/s eta 0:00:02
   ---------- ----------------------------- 9.2/35.3 MB 15.0 MB/s eta 0:00:02
   ------------- -------------------------- 12.1/35.3 MB 15.1 MB/s eta 0:00:02
   ----------------- ---------------------- 15.2/35.3 MB 14.9 MB/s eta 0:00:02
   -------------------- ------------------- 18.4/35.3 MB 15.0 MB/s eta 0:00:02
   ------------------------ --------------- 21.5/35.3 MB 14.9 MB/s eta 0:00:01
   --------------------------- ------------ 24.1/35.3 MB 14.7 MB/s eta 0:00:01
   ------------------------------ --------- 27.3/35.3 MB 14.6 MB/s eta 0:00:01
   ---------------------------------- ----- 30.1/35.3 MB 14.7 MB/s eta 0:00:01
   ------------------------------------- -- 33.3/35.3 MB 14.7 MB/s eta 0:00:01
   ---------------------------------------  35.1/35.3 MB 14.7 MB/s eta 0:00:01
   ---------------------------------------- 35.3/35.3 MB 14.1 MB/s eta 0:00:00
Installing collected packages: polars
Successfully installed polars-1.14.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [52]:
import polars

In [57]:
import time

In [58]:
x=time.time()
data=pd.read_csv(r"C:\Users\Lenovo\Downloads\spam.csv",encoding="latin")
y=time.time()

In [59]:
y-x

0.05347156524658203

In [61]:
data=pd.read_csv(r"C:\Users\Lenovo\Downloads\spam.csv",encoding="latin")

In [63]:
data[["v1","v2"]].to_csv(r"C:\Users\Lenovo\Downloads\spam1.csv",mode="x")  # use only mode = "x" dont use "a","w"

In [7]:
df= pd.read_excel(r"C:\Users\Lenovo\Downloads\D2.xlsx",sheet_name=[0,1],)
# dictionary keys

In [4]:
import pandas as pd

In [8]:
type(df)

dict

In [9]:
df[0]

  Name  Age  Unnamed: 2
0   p1   12         NaN
1   p2   13         NaN
2   p3   14         NaN
3   p4   15         NaN
4   p5   15         NaN
5   p6   16        24.0

In [11]:
df[1]

   Math  Hindi
0    12    325
1    12    325
2    12    325
3    12    325

In [ ]:
df[0].to_excel(r"C:\Users\Lenovo\Downloads\D2.xlsx") # to_excel at

In [12]:
# we want to save multiple data frame into multiple sheet

In [13]:
f=pd.ExcelWriter(r"C:\Users\Lenovo\Downloads\D1.xlsx")
f.close()

In [14]:
# Very important

In [ ]:
with pd.ExcelWriter(r"C:\Users\Lenovo\Downloads\D2.Book1.xlsx",mode="x")as f:
    df[0].to_excel(f,sheet_name="student_info")
    df[1].to_excel(f,sheet_name="sem-1")

In [35]:
x = '{"Name":["p1","p2"],"Age":[23,24]}'
# by default json format simple json

In [36]:
pd.read_json(x)
# can only convert structured json format intp df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7132\85141241.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x)

  Name  Age
0   p1   23
1   p2   24

In [37]:
x1= '{"Name":["p1","p2"],"Age":[23,24]}'
# default json format simplest

In [38]:
pd.read_json(x)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7132\1267235832.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x)

  Name  Age
0   p1   23
1   p2   24

In [41]:
data = pd.read_json(x)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7132\695020713.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_json(x)

In [44]:
x2=data.to_json(orient="index")

In [45]:
x2

'{"0":{"Name":"p1","Age":23},"1":{"Name":"p2","Age":24}}'

In [47]:
pd.read_json(x2,orient="index")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7132\1222398037.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x2,orient="index")

  Name  Age
0   p1   23
1   p2   24

In [48]:
x3=data.to_json(orient="columns")

In [49]:
x3

'{"Name":{"0":"p1","1":"p2"},"Age":{"0":23,"1":24}}'

In [50]:
pd.read_json(x3,orient="columns")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7132\2742886167.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x3,orient="columns")

  Name  Age
0   p1   23
1   p2   24

In [52]:
x4=data.to_json(orient="values")

In [53]:
x4

'[["p1",23],["p2",24]]'

In [54]:
pd.read_json(x4,orient="values")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7132\2664431613.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x4,orient="values")

    0   1
0  p1  23
1  p2  24

In [55]:
x5=data.to_json(orient="split")

In [56]:
x5

'{"columns":["Name","Age"],"index":[0,1],"data":[["p1",23],["p2",24]]}'

In [57]:
pd.read_json(x5,orient="split")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7132\426387458.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x5,orient="split")

  Name  Age
0   p1   23
1   p2   24

In [58]:
# Semi-structured json format

In [59]:
x={"Name":"p1","Marks":{"Sem1":{"Maths":20,"Hindi":12},"Sem2":{"Maths":23,"Hindi":0}}}

In [61]:
pd.json_normalize(x,max_level=0)

  Name                                              Marks
0   p1  {'Sem1': {'Maths': 20, 'Hindi': 12}, 'Sem2': {...

In [62]:
pd.json_normalize(x,max_level=1)

  Name                  Marks.Sem1                 Marks.Sem2
0   p1  {'Maths': 20, 'Hindi': 12}  {'Maths': 23, 'Hindi': 0}

In [64]:
pd.json_normalize(x,max_level=2)

  Name  Marks.Sem1.Maths  Marks.Sem1.Hindi  Marks.Sem2.Maths  Marks.Sem2.Hindi
0   p1                20                12                23                 0

In [3]:
import pandas as pd

In [2]:
x='{"Name":"p1","Marks":{"Hindi":10,"Science":12}}'

In [3]:
pd.read_json(x)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9600\1267235832.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x)

        Name  Marks
Hindi     p1     10
Science   p1     12

In [5]:
x1={"Name":"p1","Marks":{"Hindi":10,"Science":12},"Age":30}

In [7]:
pd.json_normalize(x1,max_level=1)

  Name  Age  Marks.Hindi  Marks.Science
0   p1   30           10             12

In [11]:
#value=list of dict
x = {"Nmae":"p1","Marks":[{"Hindi","science"}]}

In [12]:
pd.json_normalize(x,record_path=["Marks"],meta=["Name"])

KeyError: "Key 'Name' not found. To replace missing values of 'Name' with np.nan, pass in errors='ignore'"

In [5]:
# [dict] -- each dict will be acting  as a single row
x = [{"Name":"p1","Age":28,"Gender":"m","Marks":{"Hindi":10,"Science":12}},{"Age":25,"Gender":"F","Marks":{"Hindi":100,"Science":12}}]

In [6]:
pd.json_normalize(x)

  Name  Age Gender  Marks.Hindi  Marks.Science
0   p1   28      m           10             12
1  NaN   25      F          100             12

In [7]:
# [dict] -- each dict will be acting  as a single row
x = [{"Name":"p1","Age":28,"Gender":"m","Marks":{"Hindi":10,"Science":12}},{"Name":"p2","Age":25,"Gender":"F","Marks":{"Hindi":100,"Science":12}}]

In [8]:
pd.json_normalize(x,record_path="Marks",meta=["Name","Age","Gender"])

TypeError: {'Name': 'p1', 'Age': 28, 'Gender': 'm', 'Marks': {'Hindi': 10, 'Science': 12}} has non list value {'Hindi': 10, 'Science': 12} for path Marks. Must be list or null.